{% extends "Header.j2" %}
{% block body %}
	<script src="{{ url_for("static", filename=IDMAPPING["EditEvent-Header"]["Javascript"]) }}"></script>

	<title>
		Edit Event
	</title>

	<div>
		<form method="POST">
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">Event Position</span>

				<div
				  class="input-group-text"
				  style="width: 70%;"
				>
					<input
					  type="range"
					  class="form-range"
					  min="0"
					  max="100"
					  step="1"
					  value="{{ event["percentage"] }}"
					  id="{{ IDMAPPING["EditEvent-Scripts"]["values"]["EditAreaEventModalPercentRangeInput"] }}"
					  name="{{ IDMAPPING["EditEvent-Scripts"]["values"]["EditAreaEventModalPercentRangeInput"] }}"
					  onchange="EditAreaEvent.update_percentage_input(this);"
					>
				</div>
				<input
				  type="number"
				  class="form-control"
				  min="0"
				  max="100"
				  step="1"
				  value="{{ event["percentage"] }}"
				  id="{{ IDMAPPING["EditEvent-Scripts"]["values"]["EditAreaEventModalPercentInputInput"] }}"
				  onchange="EditAreaEvent.update_percentage_range(this);"
				>
			</div>
			<div
			  class="input-group mb-3"
			>
				<span
				  class="input-group-text"
				>
					Select Time
				</span>
				<input
				  id="{{ IDMAPPING["EditEvent-Scripts"]["values"]["EditAreaEventModalDatetimeInput"] }}"
				  name="{{ IDMAPPING["EditEvent-Scripts"]["values"]["EditAreaEventModalDatetimeInput"] }}"
				  value="{{ event["time"] }}"
				  type="datetime-local"
				  aria-label="Date"
				  class="form-control"
				>
			</div>
			<button
			  class="btn btn-primary"
			>
				Update
			</button>
		</form>
	</div>

	<script src="{{ url_for("static", filename=IDMAPPING["EditEvent-Script"]["Javascript"]) }}"></script>
{% endblock %}
