
{% macro EventList(event_list, area, area_id) %}
	<div>
		<table
		  class="table table-dark table-striped"
		>
			<thead>
				<tr>
					<th>
						Time
					</th>
					<th>
						Percentage
					</th>
					<th>
						Option
					</th>
					<th>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for event in event_list %}
					<tr>
						<td>
							{{ event["time"] }}
						</td>
						<td>
							{{ event["percentage"] }}
						</td>
						<td>
							{{ event["option"] }}
						</td>
						<td
						  class="col-md-1"
						>
							<a
							  href="/{{ area }}s/{{ area_id }}/events/{{ event["id"] }}/edit"
							>
								&#9998;
							</a>
						</td>
						<td
						  class="col-md-1"
						>
							<a
							  href="/{{ area }}s/{{ area_id }}/events/{{ event["id"] }}/delete"
							>
								X
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endmacro %}
