

<script src="{{ url_for("static", filename="TemplatesJS/Components/NewEventModal/Header.js") }}"></script>



<button type="button"
  class="btn btn-primary floating-button"
  data-bs-toggle="modal"
  data-bs-target="#NewEventModal"
  data-bs-title="New Event"
>
	+
</button>

<form
  method="POST"
>
	<div
	  class="modal fade modal-xl"
	  id="NewEventModal"
	  tabindex="-1"
	  aria-labelledby="NewEventModalLabel"
	  aria-hidden="true"
	>
		<div
		  class="modal-dialog"
		>
			<div
			  class="modal-content"
			>
				<div
				  class="modal-header"
				>
					<h1
					  class="modal-title fs-5"
					  id="NewEventModalLabel"
					>
						New Event
					</h1>
					<button type="button"
					  class="btn-close"
					  data-bs-dismiss="modal"
					  aria-label="Close"
					></button>
				</div>

				<div
				  class="modal-body"
				>
					<div
					  class="mb-3"
					>
						<div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1">Event Position</span>

								<div
								  class="input-group-text"
								  style="width: 70%;"
								>
									<input
									  type="range"
									  class="form-range"
									  min="0"
									  max="100"
									  step="1"
									  value="0"
									  id="AreaEvent.New.Modal-percentage_range-input"
									  name="AreaEvent.New.Modal-percentage_range-input"
									  onchange="AreaEvent.New.Modal.update_percentage_input(this);"
									>
								</div>
								<input
								  type="number"
								  class="form-control"
								  min="0"
								  max="100"
								  step="1"
								  value="0"
								  id="AreaEvent.New.Modal-percentage_input-input"
								  onchange="AreaEvent.New.Modal.update_percentage_range(this);"
								>
							</div>
						</div>

						<div
						  class="input-group mb-3"
						>
							<span
							  class="input-group-text"
							>
								Select Time
							</span>
							<div
							  class="input-group-text"
							>
								<input
								  id="AreaEvent.New.Modal-select_time-checkbox"
								  name="AreaEvent.New.Modal-select_time-checkbox"
								  class="form-check-input mt-0"
								  type="checkbox"
								  value=""
								  onclick="AreaEvent.New.Modal.toggle_datetime(this);"
								  aria-label="Checkbox for following text input"
								>
							</div>
							<span
							  class="input-group-text"
							>
								Time
							</span>
							<input
							  id="AreaEvent.New.Modal-datetime-input"
							  name="AreaEvent.New.Modal-datetime-input"
							  value="{{ datetime.now().strftime("%Y-%m-%dT%H:%M") }}"
							  type="datetime-local"
							  aria-label="Date"
							  class="form-control"
							  disabled
							>
						</div>
					</div>
				</div>

				<div
				  class="modal-footer"
				>
					<button
					  type="button"
					  class="btn btn-secondary"
					  data-bs-dismiss="modal"
					>
						Cancel
					</button>
					<button
					  type="submit"
					  class="btn btn-primary"
					>
						Create Event
					</button>
				</div>
			</div>
		</div>
	</div>
</form>


<script src="{{ url_for("static", filename="TemplatesJS/Components/NewEventModal/Scripts.js") }}"></script>
