/***************************************************
*
*	-Styles web portal index.php, set_event.php,
*	 upcoming.php
*	-Called by header.php
*
***************************************************/
:root {
	--background_color: #363636;
}

/* PAGE */

html {
	font-family: Helvetica;
	color: #FFFFFF;
}

.background_color {
	color: var(--background_color);
}

.body {
	background-color: var(--background_color);
	width: 100%;
	margin: auto;
	text-align: center;
}

/* MENU */

header {
	text-align: left;
	width: 100%;
	background-color: #262626;
}

.__WRAPPER__side_menu {
	background-color: #262626;
	display: block;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	padding-top: 15px;
	position: fixed;
	text-align: left;
	top: 0;
	transition: 0.5s;
	width: 0;
	z-index: 1;
}

.__WRAPPER__side_menu > a {
	color: #FFFFFF;
	display: block;
	font-size: 3em;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	transition: 0.3s;
}

.__WRAPPER__side_menu > .close_side_menu {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#__WRAPPER__curtain_select
{
	font-size: 60px;
	height: 80px;
	text-align: center;
}

#state_title {
	padding-top: 100px;
}

#state_state {
	padding-top: 20px;
	font-size: 75px;
}

#state_refresh {
	padding-top: 50px;
}

#slider_input
{
	width:100%;
}

.open {
	background-color: rgb(234, 183, 63);
	color: #111111;
}

.close {
	background-color: rgb(26, 21, 51);
	color: #FFFFFF;
}


/* UTILITY */

.v_space-20 {
	padding-top: 20px;
}

.left {
	float: left;
	padding: 10px 10px;
	margin: 10px;
}

.right {
	float: right;
	padding: 10px 10px;
	margin: 5px;
}


/* BLOCKS */

button:disabled {
	background-color: #A0B9D0;
	color: #525252;
}

.button {
	background-color: #2196F3;
	border-radius: 5px;
	border: 1px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.input {
	width: 80%;
	border-radius: 5px;
	border: none;
	height: 40px;
	text-align: center;
}

.select {
	width: 100%;
	border-radius: 5px;
	border: none;
	height: 40px;
	text-align: center;
}

.size {
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.table {
	width: 100%;
}

.table td {
	height: 50px;
	text-align: center;
}

.alternate > tbody > tr:nth-child(odd) > td {
	background-color: rgb(100, 100, 100);
}


/* THEMES */

.dark {
	color: #FFFFFF;
	background-color: var(--background_color);
	border-color: var(--background_color);
}

.danger {
	background-color: #aa0000;
}

.cancel {
	background-color: #B7B0B0;
	color: #000000;
}


/* SPECIAL */

.window_outline {
	background-color:#111111;
	margin:auto;
	position: absolute;
	width:70%;
	left:15%;
	border-radius: 5px;
}

#desired_position_input
{
	width:25%;
	size:32px;
	margin:auto;
	display:block;
}


@media only screen and (max-width: 1080px)
{
	html
	{
		font-size: 2em;
	}

	.button
	{
		font-size: 64px;
		width: 80%;
		height: 128px;
	}

	#desired_position_input
	{
		height: 128px;
		font-size: 100px;
	}

	#__WRAPPER__curtain_select
	{
		font-size: 100px;
		height: 128px;
		text-align: center;
	}

	.input_div
	{
		height: 128px;
	}

	.mobile_input
	{
		font-size:  32px;
		height: 128px;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 16px;
		padding-right: 16px;
		width: 90%;
		margin-left:  5%;
		margin-top: 16px;
		margin-right: 5%;
	}
}


/* created by:MPZinke on 01.10.19 */
